.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.d-none{
    display: none ;
}

.f-row{
    flex-direction: row !important;
}

.m-auto{
    margin: auto;
}

.p-auto{
    padding: auto;
}


.m-1{
    margin: 1rem;
}
.m-2{
    margin: 2rem;
}
.m-3{
    margin: 3rem;
}
.m-4{
    margin: 4rem;
}
.m-5{
    margin: 5rem;
}

.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.mt-4{
    margin-top: 4rem;
}
.mt-5{
    margin-top: 5rem;
}

.mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mb-3{
    margin-bottom: 3rem;
}
.mb-4{
    margin-bottom: 4rem;
}
.mb-5{
    margin-bottom: 5rem;
}

.mr-1{
    margin-right: 1rem;
}
.mr-2{
    margin-right: 2rem;
}
.mr-3{
    margin-right: 3rem;
}
.mr-4{
    margin-right: 4rem;
}
.mr-5{
    margin-right: 5rem;
}

.ml-1{
    margin-left: 1rem;
}
.ml-2{
    margin-left: 2rem;
}
.ml-3{
    margin-left: 3rem;
}
.ml-4{
    margin-left: 4rem;
}
.ml-5{
    margin-left: 5rem;
}



.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}
.p-4{
    padding: 4rem;
}
.p-5{
    padding: 5rem;
}

.pt-1{
    padding-top: 1rem;
}
.pt-2{
    padding-top: 2rem;
}
.pt-3{
    padding-top: 3rem;
}
.pt-4{
    padding-top: 4rem;
}
.pt-5{
    padding-top: 5rem;
}

.pb-1{
    padding-bottom: 1rem;
}
.pb-2{
    padding-bottom: 2rem;
}
.pb-3{
    padding-bottom: 3rem;
}
.pb-4{
    padding-bottom: 4rem;
}
.pb-5{
    padding-bottom: 5rem;
}

.pr-1{
    padding-right: 1rem;
}
.pr-2{
    padding-right: 2rem;
}
.pr-3{
    padding-right: 3rem;
}
.pr-4{
    padding-right: 4rem;
}
.pr-5{
    padding-right: 5rem;
}

.pl-1{
    padding-left: 1rem;
}
.pl-2{
    padding-left: 2rem;
}
.pl-3{
    padding-left: 3rem;
}
.pl-4{
    padding-left: 4rem;
}
.pl-5{
    padding-left: 5rem;
}



.b-1{
    border: 1px solid black;
}
.b-2{
    border: 2px solid black;
}
.b-3{
    border: 3px solid black;
}
.b-4{
    border: 4px solid black;
}
.b-5{
    border: 5px solid black;
}



.bt-1{
    border-top: 1px solid black;
}
.bt-2{
    border-top: 2px solid black;
}
.bt-3{
    border-top: 3px solid black;
}
.bt-4{
    border-top: 4px solid black;
}
.bt-5{
    border-top: 5px solid black;
}

.bb-1{
    border-bottom: 1px solid black;
}
.bb-2{
    border-bottom: 2px solid black;
}
.bb-3{
    border-bottom: 3px solid black;
}
.bb-4{
    border-bottom: 4px solid black;
}
.bb-5{
    border-bottom: 5px solid black;
}

.bl-1{
    border-left: 1px solid black;
}
.bl-2{
    border-left: 2px solid black;
}
.bl-3{
    border-left: 3px solid black;
}
.bl-4{
    border-left: 4px solid black;
}
.bl-5{
    border-left: 5px solid black;
}

.br-1{
    border-right: 1px solid black;
}
.br-2{
    border-right: 2px solid black;
}
.br-3{
    border-right: 3px solid black;
}
.br-4{
    border-right: 4px solid black;
}
.br-5{
    border-right: 5px solid black;
}



































